ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

.vermelho {
    color:red;
}

.italico{
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 700;
}

div {
    color:blue;
}
.rosa {
    background-color: pink;
}


.links li a[href*="stackoverflow"]:hover{
    font-weight: 700;
    color: orange

}

.links li a[href*="w3schools"]:hover {
    color: green;
    font-weight: 700
}

.links li a[href*="mozilla"]:hover {
    color: black;
    font-weight: 700
}

.links li a[href*="devdocs"]:hover {
    color: yellow;
    font-weight: 700
}
.links li a[href*="trybe"]:hover {
    color: green;
    font-weight: 700
}
